<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Order history</h1>

  <div class="col-xs-6">
    <table class="table table-bordered">
      <tbody>
        <% @orders_by_user.each do |order| %>
          <tr colspan="2" class="success">
            <td>
              <em>Order n. <%= order.id %></em>
              &nbsp; &nbsp; &nbsp;
              <span><%= order.created_at.to_s(:long) %></span>
              &nbsp; &nbsp; &nbsp;
              <b>Total price: <%= number_to_currency(order.total_price, unit: "€ ") %></b>
            </td>
          </tr>
          <tr>
            <td>
              <% order.line_items.each do |line_item| %>
                <%= line_item.product.name + " (" + line_item.quantity.to_s + ")" %><br>
              <% end %>
            </td>
          </tr>
          <% if current_user.present? && (current_user.role.name == "Admin") %>
            <tr colspan="2">
              <td>
                <%= link_to 'Show', order %>
                <%= link_to 'Edit', edit_order_path(order) %>
                <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
