<h1>Cart</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @cart['cart_items'].each do |cart_item| %>
        <% line_item = LineItem.new(product_id: cart_item['product_id'], quantity: cart_item['quantity'], price: cart_item['price']) %>
        <tr>
          <td><%= line_item.product.name %></td>
          <td><%= line_item.quantity %></td>
          <td class="price"><%= number_to_currency(line_item.price, unit: "€ ") %></td>
        </tr>
      <% end %>
      <tr>
        <th colspan="2">Total price</th>
        <th class="price"><%= number_to_currency(@cart['total_price'], unit: "€ ") %></th>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
