<div class="container">

  <h1>Order details</h1>

  <!-- Payment Modal -->
  <div id="show" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

  <div class="col-md-6 col-xs-12">
    <table class="table table-bordered">
      <tbody>
        <tr colspan="2" class="success">
          <td>
            <em>Order n. <%= @order.id %></em>
            &nbsp; &nbsp; &nbsp;
            <span><%= @order.created_at.to_s(:long) %></span>
            &nbsp; &nbsp; &nbsp;
            <b>Total price: <%= number_to_currency(@order.total_price, unit: "€ ") %></b>
            &nbsp; &nbsp; &nbsp;
            <%= link_to "Pay", order_pay_order_path(@order) %>
          </td>
        </tr>
        <% @order.line_items.each do |line_item| %>
        <tr>
          <td>
            <span><%= line_item.product.name%>    :   </span>
            <span><%= pluralize(line_item.quantity.to_s, "item") %></span>
          </td>
        </tr>
        <% end %>

        <% if current_user.present? && (current_user.role.name == "Admin") %>
          <tr colspan="2">
            <td>
              <%= link_to 'Edit', edit_order_path(@order) %>
              <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
