<h1><%= @product.name %></h1>

<p>
  <%= image_tag(@product.image, alt: @product.name)%>
</p>
<br />

<p>
  <%= @product.description %>
</p>
<br />

<p>
  <%= "EUR " + "#{@product.price}" %>
</p>

<%= link_to 'Home', root_path %>

<%= form_tag add_to_cart_path, method: "post" do %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= submit_tag("Add to cart") %>
<% end %>
