<nav class="navbar-inverse" style="margin: 0">
  <div class="container">
    <%# Store public links %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", products_path %></li>
      <%# Store authenticated links %>
      <% if user_signed_in? %>
        <% if current_user.role.name === "Admin" %>
          <%# Admin links %>
          <li><%= link_to "Roles", roles_path %></li>
          <li><%= link_to "Users", user_list_path %></li>
          <li><%= link_to "Orders", roles_path %></li>
          <li><%= link_to "Inventory", roles_path %></li>
        <% else %>
          <%# Customer links %>
          <li><%= link_to "Cart (#{cart_total_quantity})", new_order_path %></li>
          <li><%= link_to "Order history", orders_history_path %></li>
        <% end %>
      <% end %>
    </ul>
    <%# User/profile links %>
    <ul class="nav navbar-nav navbar-right">
      <% if !user_signed_in? %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% else %>
        <% if current_user.profile.first_name.nil? %>
          <li><%= link_to "Create profile", edit_profile_path( current_user.profile.id ), :method => :get %></li>
        <% else %>
          <li style="font-style: italic;"><%= link_to "#{current_user.profile.first_name} #{current_user.profile.surname}", edit_profile_path( current_user.profile.id ), :method => :get %></li>
        <% end %>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
        <% end %>
    </ul>
  </div>
</nav>
