<!DOCTYPE html>
<html>
  <head>
    <title>Aeki</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/logobar" %>
    <%= render "layouts/nav" %>
    <%= render "layouts/noticebar" %>
    <%= yield %>
  </body>
</html>
