<!DOCTYPE html>
<html>
  <head>
    <title>Aeki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <% if alert %>
      <%= alert %>
    <% end %>
    <%= yield %>
  </body>
</html>
